.shop-list-input{
    width: 84%;
    height: 25px;
    border-radius: 3px;
    font-family: Bebas neue;
}

.shop-list-container{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 3px;
    width: 100%;
    button{
        color: white;
    }
}